{% extends 'base.html' %}
{% block content %}
<h2>Manage Reservations</h2>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Table Number</th>
        <th>Reserved by</th>
        <th>Time</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
    <tr>
        <td>{{ reservation.table.table_number }}</td>
        <td>{{ reservation.user.username }}</td>
        <td>{{ reservation.time }}</td>
        <td>
            {% if reservation.is_taken %}
            Taken
            {% else %}
            Pending
            {% endif %}
        </td>
        <td>
        <td>
            <a href="{% url 'update_reservation_status' reservation.reservation_id %}">Mark as Taken</a> |
            <a href="{% url 'cancel_reservation' reservation.reservation_id %}">Cancel</a>
        </td>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
