{% extends 'base.html' %}

{% block content %}
<h2>Menu List</h2>
<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Dish Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        {% for menu in menus %}
        <tr>
            <td>{{ menu.name }}</td>
            <td>{{ menu.description }}</td>
            <td>{{ menu.price }}</td>
            <td>{{ 'Available' if menu.is_available else 'Not Available' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
