<div class="my-2 d-flex">
    <div class="d-flex align-items-center">
        <label class="me-2">Search :</label>
        <input type="search" id="searchInput" class="form-control w-auto" placeholder="12 records...">
    </div>

    <div class="d-flex align-items-center ms-3">
        <select id="filterDepartment" class="form-control">
            <option value="">All Departments</option>
            {% for department in departments %}
                <option value="{{ department.DepartmentID }}">{{ department.Name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="d-flex align-items-center ms-3">
        <select id="filterRole" class="form-control">
            <option value="">All Roles</option>
            {% for role in roles %}
                <option value="{{ role.RoleID }}">{{ role.Name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary ms-2" id="searchButton" onclick="fileterEmpleyee()">Search</button>
    </div>

    <div class="d-flex align-items-center ms-auto">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAccountModal">Add Account</button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-striped dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Department</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="employeeTableBody">
                    {% for employee in employees %}
                        <tr id="employee-{{ employee.StaffID }}">
                            <td>{{ forloop.counter }}</td>
                            <td class="employee-name">{{ employee.Name }}</td>
                            <td class="employee-role">{{ employee.Role.Name }}</td>
                            <td class="employee-department">{{ employee.Role.Department.Icon }} {{ employee.Role.Department.Name }}</td>
                            <td class="employee-phone">{{ employee.PhoneNumber }}</td>
                            <td>
                                <span 
                                    class="badge rounded-pill px-2 py-1 text-small {% if employee.Status %}bg-success text-white{% else %}bg-danger text-white{% endif %} status-badge"
                                    data-id="{{ employee.StaffID }}" 
                                    onclick="toggleStatus(this)">
                                    {% if employee.Status %}
                                        Active
                                    {% else %}
                                        Blocked
                                    {% endif %}
                                </span>
                            </td>
                            <td>
                                <a class="action-icon" href="#"
                                    data-id="{{ employee.StaffID }}"
                                    onclick="OnShowViewDetailAccount(this)">
                                    <i class="bi bi-eye"></i>
                                </a>

                                <a class="action-icon" href="#" data-bs-toggle="modal" data-bs-target="#employeeEditModal"
                                    data-id="{{ employee.StaffID }}"
                                    onclick="OnShowEditAccount(this)">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="action-icon" href="#" data-bs-toggle="modal" data-bs-target="#deleteAccountModal"
                                data-id="{{ employee.StaffID }}"
                                data-name="{{ employee.Name }}"
                                onclick="OnShowDeleteAccount(this)">
                                <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal detail -->
<div class="modal fade" id="employeeDetailModal" tabindex="-1" aria-labelledby="employeeDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeDetailModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Username:</strong> <span id="employeeUserNameDetail"></span></p>
                <p><strong>Name:</strong> <span id="employeeNameDetail"></span></p>
                <p><strong>Role:</strong> <span id="employeeRoleDetail"></span></p>
                <p><strong>Department:</strong> <span id="employeeDepartmentDetail"></span></p>
                <p><strong>Phone:</strong> <span id="employeePhoneDetail"></span></p>
                <p><strong>Password:</strong> <span id="employeePasswordDetail"></span></p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editButtonOnDetailModal" data-bs-toggle="modal" data-bs-target="#employeeEditModal" 
                onclick="OnShowEditAccount(this)">Edit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Add Account Modal -->
<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountModalLabel">Add New Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addAccountForm">
                    <div class="mb-3">
                        <label for="accountName">Name</label>
                        <input type="text" class="form-control" id="accountName" placeholder="Enter name" required>
                    </div>
                    <div class="mb-3">
                        <label for="accountUserName">Username</label>
                        <input type="text" class="form-control" id="accountUserName" placeholder="Enter username" required>
                    </div>
                    <div class="mb-3">
                        <label for="addEmployeeRole">Role</label>
                        <select class="form-control" id="addEmployeeRole" required>
                            {% for role in roles %}
                                <option value="{{ role.RoleID }}">{{ role.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="addEmployeeDepartment">Department</label>
                        <select class="form-control" id="addEmployeeDepartment" required>
                            {% for department in departments %}
                                <option value="{{ department.DepartmentID }}">{{ department.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="accountPhone">Phone</label>
                        <input type="text" class="form-control" id="accountPhone" placeholder="Enter phone number" required>
                    </div>
                    <div class="mb-3">
                        <label for="accountPassword">Password</label>
                        <input type="password" class="form-control" id="accountPassword" placeholder="Enter password" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitCreateAccountForm()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Employee Modal -->
<div class="modal fade" id="employeeEditModal" tabindex="-1" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="employeeEditModalLabel">Edit Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editEmployeeForm">
            <div class="mb-3">
              <label for="employeeUserNameEdit" class="form-label">User Name</label>
              <input type="text" class="form-control" id="employeeUserNameEdit" name="username" required>
            </div>
            <div class="mb-3">
              <label for="employeeNameEdit" class="form-label">Name</label>
              <input type="text" class="form-control" id="employeeNameEdit" name="name" required>
            </div>
            <div class="mb-3">
                <label for="employeeRoleEdit" class="form-label">Role</label>
                <select class="form-select" id="employeeRoleEdit" name="role_id" required onchange="updateDepartment()">
                    <option value="">Select Role</option>
                    {% for role in roles %}
                        <option value="{{ role.RoleID }}" data-department="{{ role.DepartmentID }}">{{ role.Name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="employeeDepartmentEdit" class="form-label">Department</label>
                <select class="form-select" id="employeeDepartmentEdit" name="department" disabled>
                    <option value="">Select Department</option>
                    {% for department in departments %}
                        <option value="{{ department.DepartmentID }}">{{ department.Name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
              <label for="employeePhoneEdit" class="form-label">Phone</label>
              <input type="text" class="form-control" id="employeePhoneEdit" name="phone" required>
            </div>
            <div class="mb-3">
                <label for="employeePasswordEdit">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="employeePasswordEdit" placeholder="Enter password" name="password" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword" onclick="togglePasswordVisibility()">
                        <i class="bi bi-eye-slash" id="passwordIcon"></i>
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="saveEmployeeButton" onclick="saveEmployeeDetails(this)">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmEditModal" tabindex="-1" aria-labelledby="confirmEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEditModalLabel">Confirm Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to save the changes?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="saveEmployeeDetails()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Employee Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the account for <strong id="employeeNameDelete"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="OnDeleteAccount()">Delete</button>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/admin_account.js' %}"></script>
