{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Employee Management
{% endblock %}

{% block content %}
    <div class="border border-primary rounded m-1">
        <div class="m-2">
            <div class="row" style="width: 100%;">
                <div class="col">
                  <div class="page-title-box">
                    <h3 class="page-title">Admin Dashboard</h3>
                  </div>
                </div>
              </div>
        
              <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <div class="navbar-nav ml-auto">
                    <button class="btn btn-light btn-block {% if panel == 'main' %}active{% endif %} border" onclick="getPanelOfAdmin('main')">Main</button>
                    <button class="btn btn-light btn-block {% if panel == 'account' %}active{% endif %} border" onclick="getPanelOfAdmin('account')">Account</button>
                    <button class="btn btn-light btn-block {% if panel == 'structure' %}active{% endif %} border" onclick="getPanelOfAdmin('structure')">Structure</button>
                    <button class="btn btn-light btn-block {% if panel == 'permission' %}active{% endif %} border" onclick="getPanelOfAdmin('permission')">Permission</button>
                  </div>
                </div>
              </nav>
        
              <div class="border border-primary rounded p-1">
                {% if panel == 'account' %}
                  {% include 'admin_service/account.html' with employees=employees departments=departments roles=roles %}
                {% elif panel == 'structure' %}
                  {% include 'admin_service/structure.html' %}
                {% endif %}
              </div>
        </div>
  </div>
{% endblock %}
